.admin__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.admin__addNews {
  cursor: pointer;
}

/* addNews */

.addNews__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0008;
  z-index: 9;
  overflow: auto;
  align-items: center;
}

.addNews__form {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

.addNews__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.addNews__title {
  padding: 1rem;
}

.addNews__label {
  font-size: 1.2rem;
  padding-bottom: 0.3rem;
  margin: 0 1rem;
}

.addNews__input,
.addNews__category {
  border: none;
  background: #eee;
  border-radius: 5px;
  outline: none;
  padding: 0.5em 0.8em;
  line-height: 0.1rem;
  margin: 0 1rem 1rem 1rem;
  vertical-align: center;
}

.addNews__textarea {
  border: none;
  outline: none;
  height: 10rem;
  background: #eee;
  border-radius: 5px;
  margin: 0 1rem 1rem 1rem;
  padding: 0.5em 0.8em;
  vertical-align: center;
}

.addNews__btn {
  margin: 0.8rem 1rem;
  height: 50px;
  font-size: 1rem;
}

.addNews__imgUpload {
  background: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 1rem;
}

.addNews__add {
  margin: 0 2rem;
  width: 20px;
  height: 20px;
}

.addNews__images {
  position: absolute;
  cursor: pointer;
  width: 2rem;
  opacity: 0;
  /* margin: 0 1rem; */
}

.addNews__showimg {
  max-height: 250px;
  width: 94%;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  place-items: center;
  margin: 0 1rem;
}

#file__img {
  position: relative;
  width: 100%;
  height: 100%;
}

#file__img img {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

#file__img span {
  position: absolute;
  width: 10px;
  text-align: center;
  top: -1px;
  right: -2px;
  background: #aaa;
  color: #ba0c2e;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bolder;
}

.delNews__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0008;
  z-index: 9;
  overflow: auto;
  align-items: center;
}

.delNews__form {
  max-width: 600px;
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
}

.delNews__p {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-top: 1rem;
}

.delNews__btn {
  text-align: center;
}

.delNews__yes,
.delNews__no {
  margin: 1rem 2rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  height: 50px;
  font-size: 1rem;
}
.Edituser__main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0008;
  z-index: 9;
  overflow: auto;
  align-items: center;
}

.user_avatar {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  padding: 1rem;
  object-fit: cover;
}

.editimg__input {
  padding: 0.5rem;
  justify-content: center;
  margin-left: 4rem;
}

.addComment__form {
  margin-top: 15rem;
}

.news_container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 1rem;
  /* border-top: 2px solid #000; */
}

.newscard__img {
  text-align: center;
}

.newscard__header {
  margin: 2rem 0;
}

.newscard__title {
  font-size: 2.5rem;
  font-weight: 600;
  word-wrap: break-word;
  /* margin-bottom: 1rem; */
  padding-bottom: 1rem;
  border-bottom: 2px solid #000;
}

.newscard__func {
  font-size: 0.8rem;
  text-align: right;
  color: #333;
}

.newscard__content {
  margin-top: 2rem;
  font-size: 1.4rem;
  word-wrap: break-word;
}

.newscard__menu {
  margin: 1rem 0;
}

.newscard__bookmark {
  width: 3rem;
}

.newscard__btn {
  outline: none;
  border: 0;
  background: none;
}

.comment__card {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background: #ccc;
  border-radius: 0 10px 10px 10px;
}

.comment__card2 {
  display: flex;
  align-items: center;
}

.comment__img {
  display: block;
  width: 4rem;
  object-fit: cover;
  height: 4rem;
  border-radius: 50%;
}

.comment {
  margin-left: 1rem;
  font-weight: 600;
  word-wrap: break-word;
}

.comment_lnk {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.Edituser__cancel {
  width: 2rem;
}

.no__comment {
  text-align: center;
  color: #aaa;
  margin: 1rem 0 5rem 0;
}
