.container {
  width: 100%;
  margin: 0 auto;
}

#login__image {
  min-height: 100%;
  min-width: 50%;
  width: 50%;
  height: auto;
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
}

.login__main {
  min-height: 100%;
  min-width: 50%;
  width: 50%;
  height: auto;
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  background: #f8f8f8;
}

#login__title {
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  color: #143774;
  font-size: 3rem;
  margin: 0;
  padding: 1.5em 0;
}

.login__sub {
  font-weight: 700;
  color: #277d68;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  padding: 1em;
}

.login__form {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  padding: 2em;
}

.login__label {
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.login__input {
  border: none;
  background: #f8f8f8;
  border-bottom: 1px solid black;
  margin: 1em 0;
  font-size: 1.2rem;
}

.login__input:focus {
  outline: none;
}

.login__btn {
  border: none;
  border-radius: 25px;
  background: #143774;
  color: #f8f8f8;
  font-weight: 700;
  width: 50%;
  padding: 1em;
  display: block;
  margin: auto;
  font-size: 1rem;
  transition: all 0.3s;
}

.login__btn:hover {
  background: #277d68;
  color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#register {
  border-top: 1px solid black;
  margin-top: 2em;
  font-size: 1rem;
  font-weight: bold;
}

.login__r__btn {
  text-decoration: none;
  color: #143774;
}

/* a:hover,
a:focus {
  color: #143774;
} */

@media (max-width: 675px) {
  #login__image {
    min-width: 100%;
    width: 100%;
  }
  .login__main {
    left: 10%;
    background: #f8f8f8;
    min-height: 50%;
    min-width: 80%;
    top: 10%;
  }
  #login__title {
    font-size: 1.2rem;
    padding: 1em 0;
  }
  .login__sub {
    font-size: 1rem;
  }
  .login__form {
    width: 80%;
  }
  .login__label {
    font-size: 1rem;
  }
  .login__input {
    font-size: 1rem;
  }
  .login__btn {
    font-size: 1rem;
    width: 80%;
  }
  #register {
    margin-bottom: 1.5em;
  }
  .newscard__i {
    width: 100%;
  }
}
