* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: arial;
}

.card {
  width: 20%;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 0.7rem;
  margin: 2%;
  text-overflow: ellipsis;
  justify-content: center;
}
.card:hover {
  transform: scale(1.03);
  transform-origin: 3% 3%;
  transition: transform 0.3s ease-out;
  box-shadow: 4px 4px 30px black;
}

.image img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
}

.title {
  text-align: center;
  padding: 10px;
}

h1 {
  height: 5.5rem;
  padding-left: 0.5em;
  margin-right: 0.5em;
  font-size: 20px;
  overflow: scroll;
  word-wrap: break-word;
  max-height: 5.5rem;
}

.des {
  padding: 3px;
  text-align: center;
  /* padding-top: 10px; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.homecard__btn {
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}
.homecard__btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}
.btn1 {
  color: black;
  text-decoration: none;
  font-size: small;
  padding: 0.8em;
}
.btn1:hover {
  color: white;
}
@media screen and (max-width: 768px) {
  .card {
    display: block;
    width: 94%;
    margin-top: 1.5em;
  }
  h1 {
    max-height: 4rem;
    padding: 0;
    margin: 0.3em;
  }
  .des {
    padding-top: 0;
  }
}
